$purple: #8257e7;
$lighter-purple: #966af3;
$lilac: #dfccff;
$black: #000;
$white: #fff;
$gray: #d6d6d6;

$heading-font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
$body-font-family: 'Assistant', Arial, Helvetica, sans-serif;