$lilac: #B091E4;
$black: #000;
$white: #fff;
$light-lilac: #ebe0ff;

$heading-font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
$body-font-family: 'Assistant', Arial, Helvetica, sans-serif;
$hero-h1-font-size: 28pt;
$hero-p-font-size: 18pt;
