@use '../abstracts' as a;

.form {
    @include a.flex;
    @include a.flex-wrap;
    
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    input {
        opacity: 1;
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 15px 20px;
        margin-bottom: 20px;
        background-color: a.$lilac;
    }

    .type {
        width: 100%;
    }

    .message {
        padding-bottom: 120px;
    }

    .submit {
        margin: 30px 0 0 auto;
        background-color: a.$purple;
        cursor: pointer;
    }

    .submit:hover {
        background-color: #6200d1;
    }

    #feedback {
        margin: 20px 0 0 auto;
        width: 100%;
    }

    @media (min-width: 768px) {
        grid-row: 2/5;
        margin: 0 0 80px 0;
    }
}

.cms-form {
    padding: 0 30px;
    font-size: 14pt;
    margin: 60px 0;
    max-width: 600px;

    h3 {
        margin-bottom: 40px;
    }

    label {
        font-size: 14pt;
        margin-right: 10px;
    }

    input, textarea {
        border-radius: 20px;
        border: 2px solid #d5d5d5;
        padding: 15px;
        outline: none;
        font-size: 12pt;
    }

    input[type=file] {
        border: none;
        padding: 10px;
        color: a.$black;
    }

    textarea {
        resize: none;
    }

    .form-cell {
        @include a.flex;

        display: flex;
        align-items: center;
        margin-bottom: 20px;

        input, textarea {
            flex: 1;
        }
    }

    .form-cell.final {
        margin-bottom: 40px;
    }

    .form-btn {
        padding: 10px 40px;
        color: a.$white;
        border: none;
        background-color: a.$purple;
        font-size: 14pt;
    }

    .form-btn:hover {
        background-color: #5700ba;
    }
}

#login {
    max-width: 400px;
}