@use '../abstracts' as a;

#home-hero {
    position: relative;
    color: a.$white;

    h1 {
        margin: 100px 0 20px 0;
    }

    p {
        margin-bottom: 50px;

        @media (min-width: 768px) {
            margin-top: 20px;
        }
    }

    img {
        width: 100%;

        @media (min-width: 768px) {
            margin-top: 50px;
            grid-row: 1 / 4;
        }
    }
}
