@use '../abstracts' as a;

#hero {
    h1 {
        margin: 50px 0 20px 0;
    }

    p {
        margin-bottom: 50px;
    }

    @media (min-width: 768px) {
        min-height: 500px;
        h1 {
            margin-top: 100px;
        }
    }
}

.hero-img {
    width: 80%;
    justify-self: center;
    padding-bottom: 30px;

    img {
        width: 100%;
    }

    @media (min-width: 768px) {
        grid-row: 1/4;
        justify-self: end;
        align-self: center;
        padding-bottom: 0;
    }
}

.home#hero {
    background-color: a.$lilac;
}

.case#hero {
    background-color: rgb(199, 255, 255);
}