@use '../abstracts' as a;

// Hero 

.case-hero {
    position: relative;
    color: a.$white;
    margin-bottom: 100px;

    h1 {
        margin: 100px 0 20px 0;
    }

    p {
        margin-bottom: 80px;
    }

    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .wave-divider {
        background: url(../images/wave-divisory.svg) repeat-x;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
    
    .button {
        border: 1px solid a.$white;
        margin: 0 auto 200px auto;
        text-align: center;
        color: a.$white;
    }

    .button:hover {
        background-color: #ffffff30;
    }

    @media (min-width: 768px) {
        h1 {
            margin-top: 120px;
        }
        
        p {
            margin-bottom: 60px;
        }

        .button {
            margin-bottom: 180px;
        }
    }
}

// Hero Backgrounds

#kavorka {
    background: url(../images/kavorka-hero.jpg) repeat;

    .gradient {
        background: linear-gradient(180deg, #C20943 25%, #ffffff00 100%);

        @media (min-width: 768px) {
            background: linear-gradient(90deg, #C20943 40%, #ffffff00 100%);
        }
    }
}

#drnut {
    background: url(../images/drnut-hero.jpg) repeat;

    .gradient {
        background: linear-gradient(180deg, #C0070B 25%, #ffffff00 100%);

        @media (min-width: 768px) {
            background: linear-gradient(90deg, #C0070B 40%, #ffffff00 100%);
        }
    }
}

#comet {
    background: url(../images/comet-hero.jpg) repeat;

    .gradient {
        background: linear-gradient(180deg, #090E31 25%, #ffffff00 100%);

        @media (min-width: 768px) {
            background: linear-gradient(90deg, #090E31 40%, #ffffff00 100%);
        }
    }
}

// Sections

#overview {
    margin: 40px 0;
}

.case-study {
    h2 {
        margin-bottom: 30px;
    }

    h3 {
        opacity: .5;
        margin-bottom: 20px;
    }

    a {
        margin-top: 30px;
        color: inherit;
        text-decoration: none;
    }

    i {
        margin-right: 10px;
        transform: rotate(180deg);
    }

    .back:hover i {
        animation: pointLeft 1s ease infinite;
    }
    
    @keyframes pointLeft {
        0% {transform: rotate(180deg) translateX(0);}
        50% {transform: rotate(180deg) translateX(5px);}
        100% {transform: rotate(180deg) translateX(0);}
    }
}

// Section Media

.media-con, .video-con {
    margin: 40px 0 60px;
    width: 100%;

    .media {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    img {
        max-width: 650px;
    }
}

#outcome .media-con {
    img {
        max-width: 750px;
    }
}