@use '../abstracts' as a;

// Hero

#hero {
    background-color: a.$lilac;

    h1 {
        margin: 50px 0 20px 0;
    }

    p {
        margin-bottom: 50px;
    }

    @media (min-width: 768px) {
        min-height: 500px;
        h1 {
            margin-top: 100px;
        }
    }
}

.hero-img {
    width: 80%;
    justify-self: center;
    padding-bottom: 30px;

    img {
        width: 100%;
    }

    @media (min-width: 768px) {
        grid-row: 1/4;
        justify-self: end;
        align-self: center;
        padding-bottom: 0;
    }
}

// Video

#video {
    padding-bottom: 30px;

    h2 {
        margin: 50px 0 30px 0;
    }
}

// Projects

#projects {
    h2 {
        margin: 50px 0 30px 0;
    }

    @media (min-width: 768px) {
        position: relative;

        .line {
            background-color: #eaeaea;
            position: absolute;
            width: 1px;
            left: 50%;
            top: 12%;
            height: 80%;
        }
    }
}

